The Postal mail queue length alert is firing!

Summary:

The queue of mail waiting to be delivered by Postal is exceeding normal 
operational levels. This could be due to a server issue (e.g. the mail 
message broker or SMTP daemon has crashed) or simply because Camdram is 
sending a very high rate of email within a very short timeframe (e.g. 
the new ADC season has just been announced or the support site is 
relaying a lot of spam).

The current mail queue length is {{PostalQueue}}.

Remedial action to take:

1. Login to the web interface at https://mail.camdram.net/ and monitor 
   the situation using the online admin tools.
2. SSH into the server and ensure the both MariaDB and RabbitMQ are 
   functioning using the following command:
   `sudo systemctl status mariadb rabbitmq-server`.
3. Run the following to check the status of the email system:
   `sudo postal status`.
4. If necessary, restart the entire email system by typing:
   `sudo postal stop && sudo postal start`.

If everything is functioning normally, Postal should automatically 
pickup mail from the queue and process it appropriately. In the event 
that a large burst of mail is sent within a short timeframe then it is 
possible that the outgoing rate limit will be exceeded and further 
messages will be held back instead of being sent. You will be notified 
in a separate alert if this occurs.
